# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://lftcrv:lftcrv@localhost:5432/lftcrv-postgres?schema=public"
API_KEY=4f8c2e7d1a6b9n3m5k8p4q7w9x2z5v3y

RATE_LIMIT=10
RATE_LIMIT_WINDOW=60